<link rel="stylesheet" href="/css/styles.css">
<%- include('header')-%>

<h1>AccuWeather</h1>
<form action="/" method="POST">
    <div class="form-group">
    <label for="cities">Select the city name</label><br>
<!-- <input type="text" id="cities" name="city" class="form-control" required=""> -->
<select name="city" id="cities" class="form-control">
    <option  value="Ariyalur">Ariyalur</option>
    <option value="Chengalpattu">Chengalpattu</option>
    <option value="Chennai">Chennai</option>
    <option value="Coimbatore">Coimbatore</option>
    <option value="Cuddalore">Cuddalore</option>
    <option value="Dharmapuri">Dharmapuri</option>
    <option value="Dindigul">Dindigul</option>
    <option value="Erode">Erode</option>
    <option value="Kanchipuram">Kanchipuram</option>
    <option value="Kanyakumari">Kanyakumari</option>
    <option value="Karur">Karur</option>
    <option value="Krishnagiri">Krishnagiri</option>
    <option value="Madurai">Madurai</option>
    <option value="Mayiladuthurai">Mayiladuthurai</option>
    <option value="Nagapattinam">Nagapattinam</option>
    <option value="Namakkal">Namakkal</option>
    <option value="Ooty">Ooty</option>
    <option value="Perambalur">Perambalur</option>
    <option value="Pudukkottai">Pudukkottai</option>
    <option value="Ramanathapuram">Ramanathapuram</option>
    
    <option value="Salem">Salem</option>
    
    <option value="Tenkasi">Tenkasi</option>
    <option value="Thanjavur">Thanjavur</option>
    <option value="Theni">Theni</option>
    <option value="Thoothukudi">Thoothukudi</option>
    <option value="Tiruchirappalli">Tiruchirappalli</option>
    <option value="Tirunelveli">Tirunelveli</option>
    
    <option value="Tiruppur">Tiruppur</option>
    <option value="Tiruvallur">Tiruvallur</option>
    <option value="Tiruvannamalai">Tiruvannamalai</option>
   
    <option value="Vellore">Vellore</option>
    <option value="Villupuram">Villupuram</option>
    <option value="Virudhunagar">Virudhunagar</option>
    

</select>

</div>
<button type="submit" class="btn btn-primary">GO</button>


</form>

<!-- <div class="ins"> -->
    
    <!-- <h5>Major cities weather info provider </h5><br>
    <ul>
        <li>Tamilnadu</li>
        <li>Karnata</li>
        <li>Kerala</li>
        <li>Delhi</li>
        <li>Kerala</li>
        <li>Goa</li>
        <li>Rajasthan</li>
        <li>Gujarat</li>
        <li>Odisha</li>
        <li>assam</li>
        <li>haryana</li>
        <li>bihar</li>
        <li>punjab</li>
        <li>jharkhand</li>
        <li>tripura</li>
        <li>manipur</li>
        <li>sikkim</li>
        <li>Meghalaya</li><br><br>
       <li>Chennai</li>
       <li>Mumbai</li>
       <li>Bangalore</li>
       <li>Kolkata</li>
       <li>Hyderabad</li>
       <li>Pune</li>
       <li>Jaipur</li>
       <li>Surat</li>
       <li>Nagpur</li>
       <li>Lucknow</li>
       <li>Ahmedabad</li>
       <li>kanpur</li>
       <li>Agra</li>
       <li>patna</li>
       <li>kochi</li>
       <li>Indore</li>
       <li>Bhopal</li>
       <li>Varanasi</li><br><br>
       <!-- <li>Allahabad</li>
       <li>Chandigarh</li>
       <li>Madurai</li>
       <li>thiruvananthapuram</li>
       <li>Visakhapatnam.</li><br><br> -->

       <!-- <li>Coimbatore</li>
       <li>Salem</li>
       <li>Vellore</li>
       <li>Tiruchirappalli</li>
       <li>Tirunelveli</li>
       <li>Tiruppur</li>
       <li>Erode</li>
       <li>Thanjavur</li>
       <li>Ooty</li>
       <li>Dindigul</li>
       <li>Kanchipuram</li>
       <li>Thoothukudi</li>
       <li>Cuddalore</li>
       <li>Kodaikanal</li>
       <li>Karur</li>
       
       
    </ul>
     
</div> -->

<%- include('footer')-%>


